$primary-color: #AFFFEE;
$tablet: "width >= 480px";
$desktop: "width >= 720px";

:root {
  --content-max-width: 40.625rem;
}
body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: [full-width-start] 1fr [content-start] var(--content-max-width) [content-end] 1fr [full-width-end];

  & > * {
    display: grid;
    grid-template-columns: subgrid;
    grid-auto-rows: min-content;
    grid-column: content;
  }
}

img {
  width: 400px;
}

.site-title {
  color: $primary-color;
}
