$mobile: "width <= 720px";
$desktop: "width >= 720px";

$primary-color: #0F002A;
$secondary-color: #e6ffef;
$tritary-color: #877F94;

:root {
  --content-max-width: min(100% - 2 * var(--padding) ,40.625rem);
  --padding: 12px;
  --border-radius: 12px;
  --header-font-size: 2em;
}

body {
  background-color: $primary-color;
  color: $secondary-color;
  font-family: system-ui,sans-serif;

  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: [full-width-start] 1fr [content-start] var(--content-max-width) [content-end] 1fr [full-width-end];

  & > * {
    display: grid;
    grid-template-columns: subgrid;
    grid-auto-rows: min-content;
    grid-column: content;
  }

  & > header {
    font-size: var(--header-font-size);
    background-color: $secondary-color;
    padding: var(--padding);
    border-radius: var(--border-radius);
    grid-column: full-width;
  }

  & > footer {
    color: $tritary-color;
    background-color: $secondary-color;
    padding: var(--padding);
    border-radius: var(--border-radius);
    grid-column: full-width;
  }
}

// Navigation + Sidebar
.site-nav {
  display: grid;
  grid-column: content;
  grid-template-columns: 1fr 1fr;
}

.left-nav, .right-nav{
  display: flex;
}

.right-nav{
  justify-content: end;
}

.nav-sidebar {
  display: none;
  position: fixed;
  height:100%;
  background-color: $secondary-color;
}

// Blinking cursor elements.
.blinking-cursor {
  animation: cursor 1.5s infinite;
}

@keyframes cursor {
  0%, 100% {
    opacity: 0;
  }

  60% {
    opacity: 1;
  }
}

// Links + Buttons
a {
  text-decoration: none;
  color: $tritary-color;
}

.navbar-link {
  border-style: solid;
  border-radius: var(--border-radius);
  border-color: $primary-color;
  color: $primary-color;
  padding: 4px var(--padding);
  font-weight: bold;
}

.navbar-button {
  border: none;
  background-color: $secondary-color;
  cursor:pointer;
}


// Misc
.site-code {
  user-select: none;
  font-weight: bold;
}

img {
  width: 200px;
}

// Mobile Responsiveness
.mobile-only
{
  display: none;
}
@media screen and ($mobile) {
  .site-nav {
    grid-template-columns: 32px 1fr;
  }
  .right-nav {
    justify-content: center;
  }
  .mobile-only
  {
    display: block;
  }
  .desktop-only
  {
    display: none;
  }
}


